# Dependencies
node_modules/
.pnp
.pnp.js

# Production Build
dist/
dist-ssr/
*.local

# Environment & Secrets (NUNCA SUBIR CHAVES PRIVADAS)
.env
.env*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
Thumbs.db

# Temporary
_temp_*
scripts/_temp_*
